.mainContent {
  background-color: lightgray;
  opacity: 0.9;
  width: 50%;
  position: absolute;
  left: 25%;
  height: 90vh;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}

.welcome {
    position: relative;
    padding-top: 8%;
    text-align: center;
    opacity: 1;
    z-index: 3;
    font-weight: 500;
    line-height: 50px;
}

.quiz-btn {
  color: rgb(255, 255, 255);
  font-size: 30px;
  opacity: 1;
  z-index: 2;
  line-height: 30px;
  padding: 17px;
  border-radius: 17px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.quiz-btn:hover {
  background: #1c6ea4;
}
.quiz-btn:active {
  background: #144e75;
}
.quiz-btn-div{
  padding: 1%;
}
.ldr-btn {
  color: rgb(255, 255, 255);
  font-size: 30px;
  opacity: 1;
  z-index: 2;
  line-height: 30px;
  padding: 17px;
  border-radius: 17px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.ldr-btn-div{
  padding: 1%;
}