.faq-background {
  background-image: url("../main/images/mt_background.jpg");
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
}

.faq-wrapper {
  background-color: rgb(0, 62, 121);
  position: relative;
  top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}

.faq-header {
  padding: 2%;
  color: #7CAFFA; 
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px white, 
               2px 2px white, 
               3px 3px white;
}
.faq-header:hover {
  position: relative; 
  top: -3px; 
  left: -3px; 
  text-shadow: 1px 1px white, 
               2px 2px white, 
               3px 3px white, 
               4px 4px white, 
               5px 5px white, 
               6px 6px white;
}

.faq-content {
  margin: 0 auto;
  color: white;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px solid white;
  line-height: 100%;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: relative;
  opacity: 0;
  color: white;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.faq-list,
li {
  padding-top: 1em;
  line-height: 1.5em;
}

.panel:checked ~ .panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  margin-top: 18px;
  z-index: 5;
  font-size: 20px;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}
