.notSI-Content {
    margin-top: 3%;
    padding-top: 5%;
    color: white;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.9);
    width: 50%;
    position: absolute;
    left: 25%;
    height: 60%;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)  {
    .notSI-Content {
        position: absolute;
        width: 100%;
        top: 30%;
        left: 30%;
    }
}