.questions-wrapper{
    text-align: center;
    background-color: rgba(211, 211, 211, 0.9);
    height: 90vh;
    width: 80%;
    margin-left: 10%;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}
#question{
    padding-top: 10%;
    font-size: calc(10px + 2vmin);
    color: rgb(31, 31, 31);
    font-weight: bold;
}
.answer{
    margin: 2%;
    width: 30%;
    height: 40%;
    border-color: rgb(0, 62, 121);
    color: rgb(255, 255, 255);
    font-size: calc(5px + 3vmin);
    opacity: 1;
    z-index: 2;
    line-height: 30px;
    padding: 17px;
    border-radius: 17px;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        rgb(28, 110, 164) 0%,
        rgb(35, 136, 203) 50%,
        rgb(20, 78, 117) 100%
    );
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
}
.answer:focus{
    background-image: linear-gradient(
        to right,
        rgb(55, 164, 28) 0%,
        rgb(35, 203, 35) 50%,
        rgb(20, 117, 20) 100%
      );
    border: 2px solid rgb(28, 164, 39);
}
.lock-in{
    margin: 2%;
    width: 20%;
    height: 40%;
    border-color: rgb(0, 62, 121);
    color: rgb(255, 255, 255);
    font-size: calc(5px + 3vmin);
    opacity: 1;
    z-index: 2;
    line-height: 30px;
    padding: 17px;
    border-radius: 17px;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        rgb(28, 110, 164) 0%,
        rgb(35, 136, 203) 50%,
        rgb(20, 78, 117) 100%
    );
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
}
.start,.center-stage{
    margin: 0;
    position: absolute;
    z-index: 100;
}
.start{
    top: 50%;
    left: -16.5%;
    font-size: calc(10px + 2vmin);
    background: none;
    border-radius: 1em;
    border: 5px solid #6d0019;
    background-color: rgba(0, 0, 0, 0.5);
    color: #a30429;
}
.center-stage{
    color: black;
    top: 40%;
    left: -40%;
    font-size: calc(10px + 4vmin);
}
.results{
    position: relative;
    visibility: hidden;
    font-size: calc(5px + 3vmin);
    top: -50%;
}
:root {
    --transform-value: -100%;
    --animation-delay: 12.5s;
	--animation-duration: 2s;
	--animation-ease: ease-in;
}
@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}
[data-animation*='curtain'] div:nth-child(1), [data-animation*='curtain'] div:nth-last-child(1) {
    position: absolute;
    width: 50vw;
	height: 100vh;
	top: 0;
	border: .25em solid #a90329;
    background: linear-gradient(to right, #a90329 0%,#a90329 6%,
    #6d0019 10%,#a90329 14%,#a90329 20%,#6d0019 24%,#a90329 28%,
    #a90329 34%,#6d0019 38%,#a90329 42%,#a90329 48%,#6d0019 52%,
    #a90329 56%,#a90329 62%,#6d0019 66%,#a90329 70%,#a90329 76%,
    #6d0019 80%,#a90329 84%,#a90329 90%,#6d0019 94%,#a90329 98%);
	z-index: 10;
}
[data-animation='curtain'] div:nth-child(1){
    left: 0;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-delay) 1 forwards initialAnimation-horizontal;
    z-index: 8;
}
[data-animation*='curtain'] div:nth-last-child(1) {
    right: 0;
    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-delay) 1 forwards initialAnimation-horizontal;
    z-index: 8;
}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px)  {
      .quizWrapper {
          position: absolute;
          left: 20%;
          top: 10%;
          width: 100%;
      }
      .photoAndQuote {
          position: absolute;
          top: 50%;
      }

      .quizForm {
          position: absolute;
          left: 20%;
          top: 10%;
          width: 40%;
      }
      [data-animation*='curtain'] div:first-child { 
        display: none;
    }
      [data-animation*='curtain'] div:last-child { 
          display: none;
      }

      .questions-wrapper {
          width: 90%;
          height: 30%;
          position: absolute;
          top: 30%;
          left: 25%;
      }
}