.questions-wrapper{
    text-align: center;
    background-color: rgba(211, 211, 211, 0.9);
    height: 90vh;
    width: 80%;
    margin-left: 10%;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}
#question{
    padding-top: 2%;
    font-size: calc(10px + 2vmin);
    color: black;
}
.answer{
    margin: 1%;
    width: 20%;
    height: 100px;
    border-radius: 10px;
    border-width: 10px;
    border-color: rgb(0, 62, 121);
    background-color: #7CAFFA;
}
.answer:focus{
    background-color: green;
}
.lock-in{
    width: 20%;
}
.final{
    visibility: hidden;
}
  
:root {
    --transform-value: -100%;
    --animation-delay: 2.5s;
	--animation-duration: 2s;
	--animation-ease: ease-in;
}

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}
[data-animation*='curtain'] div:first-child, [data-animation*='curtain'] div:last-child {
    position: fixed;
	width: 50vw;
	height: 100vh;
	top: 0;
	border: .25em solid #a90329;
    background: linear-gradient(to right, #a90329 0%,#a90329 6%,
    #6d0019 10%,#a90329 14%,#a90329 20%,#6d0019 24%,#a90329 28%,
    #a90329 34%,#6d0019 38%,#a90329 42%,#a90329 48%,#6d0019 52%,
    #a90329 56%,#a90329 62%,#6d0019 66%,#a90329 70%,#a90329 76%,
    #6d0019 80%,#a90329 84%,#a90329 90%,#6d0019 94%,#a90329 98%);
	z-index: 800;
}
[data-animation*='curtain'] div:first-child {
    left: 0;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='curtain'] div:last-child {
    right: 0;
    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}