.curtain {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-panel,.right-panel {
    width: 50%;
    height: 100vh;
    float: left;
    z-index: 2;
    position: relative;
    background: turquoise;
    transition: all 1s ease-in;
  }
  
  .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: 333;
    z-index: 1;
    text-align: center;
  }
    .curtain:hover > .left-panel{
      transform: translateX(-100%);
    }
    .curtain:hover > .right-panel{
      transform: translateX(100%);
    }