nav {
    display: flex;
    justify-content: space-between;
    border-style: none none solid none;
    border-bottom:1px solid #7CAFFA;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    background-color: rgb(0, 62, 121);
    min-height: 10%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: calc(10px + 2vmin);
}
nav ul li{
    padding-left: 30px;
    list-style: none;
}
.div-links{
    padding-top: 0.5%;
}
.div-links,.div-LinksSignedIn{
    margin-right: 10%;
}
nav a:hover{
    opacity: 0.5;
}
nav a:visited, nav a:link{
    text-decoration: none;
    color: #7CAFFA;
}
.divLinks{
    margin: 0;
    padding-top: 1.5%;
}
.divLinksLoggedIn{
    margin: 0;
    padding-top: 1.5%;
}
.div-logo{
    margin-left: 10%;
}