.profileWrapper {
    background-image: url("../main/images/mt_background.jpg");
    background-size: cover;
    height: 100vh;
    opacity: 0.9;
}

.password-reset {
    border: black solid 1px;
    width: 50%;
    position: absolute;
    left: 27%;
    top: 30%;
    height: 50%;
    text-align: center;
    padding: 10%;
    background-color: lightgrey;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    opacity: 0.9;
}