.profileContent {    
    padding-top: 3%;
    line-height: 50px;
}

.profile-panel {
    background-color: rgba(211, 211, 211, 0);
    box-shadow:  8px 0px 10px 4px #888888;
    width: 100%;
    position: relative;
    padding: 5%;
}

.profile-forms {
    border: black solid 1px;
    width: 40%;
    position: relative;
    left: 30%;
    height: 30%;
    text-align: center;
    padding: 5%;
    background-color: rgba(211, 211, 211, 0.9);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    font-size: larger;
}

.reset {
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 8px 5px 10px 3px #888888;
}

p {
    line-height: 15px;
}

.profile-title{
    text-decoration: underline;
    font-size: 80px;
    padding-bottom: 2%;
    color: rgb(0, 62, 121);
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  }